.notification {
  padding: 10px;
  font-size: 25px;
  border: 4px solid;
  border-radius: 5px;
  background-color: #d3d3d3;
}

.success {
  color: #4caf50;
}

.error {
  color: #e73629;
}

.blog-container {
  padding: 10px;
  font-size: 20px;
  border: 2px solid;
  margin: 10px 0;
}
